<app-header>
    <div class="username">
        <p>Dave</p>
    </div>
    <app-button [buttonText]="buttonTextLogout"></app-button>
</app-header>

<div *ngIf = "coursesList.length == 0">
    <app-info [titleText]="titleTextInfo" [infoText] ="infoText">
        <app-button [buttonText]="buttonTextInfo"></app-button>
    </app-info>  
</div>
<div *ngIf = "coursesList.length != 0">
    <app-course *ngFor = "let course of coursesList" [course]="course">
        <app-button [buttonText]="buttonTextShow"></app-button>
        <ng-template [ngIf]="isEditable">
            <app-button [buttonText]="buttonTextEdit"></app-button>
            <app-button [buttonText]="buttonTextDelete"></app-button>
        </ng-template>
    </app-course>
</div>